h1{
    color: blue;
    background-color: hsl(190, 74%, 28%);
    font-size: 30px ;
    font-weight: 600;
}
p{
    background-color:#000000;
    color: rgb(0, 98, 130);
    font-size: 70px;
    font-weight: 700;
}
h2{
    color: hotpink;
    background-color:darkslategrey;
}
